/***************
General
***************/


/*div info*/

#wrapper {
    max-width: 94%;
    margin: 0 auto;
    padding: 0 5%;
}


/*no underline on links*/

a {
    text-decoration: none;
}

img {
    max-width: 100%
}

h3 {
    margin: 0 0 1em 0;
}


/***************
Heading
***************/

header {
    float: left;
    margin: 0 0 30px 0;
    padding: 5px 0 0 0;
    width: 100%;
}


/*logo lined up*/

#logo {
    text-align: center;
    margin: 0;
}

h1 {
    margin: 15px 0;
    font-size: 2em;
    font-weight: normal;
    line-height: 1.8em;
}

h2 {
    margin: -5px 0 0;
    font-size: 1.5;
    font-weight: normal;
}


/***************
Navigation
***************/

nav {
    text-align: center;
    padding: 10px 0;
    margin: 20px 0 0;
}

nav ul {
    list-style: none;
    margin: 0 10px;
    padding: 0;
}

nav li {
    display: inline-block;
}

nav a {
    font-weight: 800;
    padding: 15px 10px;
}


/***************
Footer
***************/

footer {
    font-size: 1em;
    text-align: center;
    clear: both;
    padding-top: 50px;
    color: #000;
    width: 100%;
}

.social-icon {
    height: 30px;
    width: 30px;
    margin: 0 10px;
}


/***************
images specs
***************/

#gallery {
    margin: 0;
    padding: 0;
    list-style: none;
}

#gallery li {
    float: left;
    width: 45%;
    margin: 2.5%;
    background-color: #FFF;
    color: #bdc3c7
}

#gallery li a p {
    margin: 0;
    padding: 5%;
    font-size: 1em;
    color: #000;
}


/***************
Contact
***************/

.contact-info {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 0.9em;
}

.contact-info a {
    display: block;
    min-height: 20px;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    padding: 0 0 0 30px;
    margin: 0 0 10px;
}

.contact-info li.phone a {
    color: #000;
    background-image: url('../images/.png/phone.png');
}

.contact-info li.mail a {
    color: #000;
    background-image: url('../images/.png/mail.png');
}

.contact-info li.twitter a {
    color: #000;
    background-image: url('../images/twitter-logo.png');
}

.contact-info li.facebook a {
    color: #000;
    background-image: url('../images/facebook-logo.png');
}


/***************
Colors and some fonts
***************/


/*body color black*/

body {
    background-color: #FFF;
    color: #000;
}


/*matching grey*/

header {
    background: #808080;
    border-color: #FFF;
}


/*black bar*/

nav {
    background: #000;
}


/*headline color*/

h1,
h2 {
    color: #000;
    font-family: 'Sigmar One', cursive;
}


/***************
about specs
***************/

.profile-photo {
    display: block;
    max-width: 250px;
    margin: 0 auto 30px;
    border-radius: 100%;
    padding: 20px;
}

h3 {
    color: #000;
}

#paragraph {
    color: #000;
}


/*color black*/

a {
    color: #000;
    font-family: 'Chewy', cursive;
    font-size: 1.125em;
}


/*black when on page*/

nav a,
nav a: visited {
    color: #000;
}


/*blue when hovered*/

nav a.selected,
nav a:hover {
    color: #0000FF;
}


/*Sticky Footer*/