    @media screen and (min-width: 480px) {
        /* Columns 2 */
        #primary {
            width: 70%;
            float: left;
        }
        #secondary {
            width: 20%;
            float: right;
        }
        /* Gallery */
        #gallery li {
            width: 28.333%;
        }
        #gallery li:nth-child(4n) {
            clear: left;
        }
        footer {
            margin-top: 10px;
        }
    }
    /* Tabs color */
    
    nav a {
        color: #808080;
    }
    /* About */
    
    .newFix {
        display: flex;
        flex-direction: column;
        color: black;
    }

    .newFix a{
        color: black;
    }
    
    .newFix a:hover,
    .newFix a:focus{
        text-decoration: none;
        color: black;

    }

    .profile-photo {
        flex: 1;
        width: 85%;
        float: left;
        margin: 10px 50px;
    }
    
    .parabout {
        text-align: center;
        flex: 2;
        margin: 10px 40px 25px 40px;
    }
    /*contact*/
    
    .contact-info {
        text-align: left;
        margin: 0 100px;
    }
    
    .contact-info-title {
        text-align: center;
        font-size: 20px;
    }
    /* wrapper */
    
    #wrapper {
        max-width: 100%;
    }
    
    @media screen and (min-width: 660px) {
        /* header */
        nav {
            background: none;
            float: right;
            font-size: 1.125em;
            margin-right: 5%;
            text-align: right;
            width: 45%;
        }
        #logo {
            float: left;
            margin-left: 5%;
            text-align: left;
            width: 45%;
        }
        h1 {
            font-size: 2em;
        }
        h2 {
            font-size: 0.8em;
            margin-bottom: 20px;
        }
        header {
            border-bottom: 20px solid #000;
            margin-bottom: 40px;
        }
        nav a {
            color: #000;
        }
    }
    
    @media screen and (min-width: 480px) and (max-width: 1524px) {
        .contact-info {
            text-align: left;
            margin-left: -50px;
        }
        .contact-info-title {
            text-align: left;
            margin-left: -50px;
        }
        #primary {
            width: 45%;
            float: left;
        }
        #secondary {
            width: 35%;
            float: right;
        }
    }