@media screen and (min-width: 480px) {
    /***************
  Columns 2
  ***************/
    #primary {
        width: 70%;
        float: left;
    }
    #secondary {
        width: 20%;
        float: right;
    }
    /***************
  Gallery
  ***************/
    #gallery li {
        width: 28.333%;
    }
    #gallery li:nth-child(4n) {
        clear: left;
    }
}


/**************
Tabs color
**************/

nav a {
    color: #808080;
}


/***************
  About
  ***************/

.profile-photo {
    float: left;
    margin: 0 5% 80px 0;
}


/* wrapper */

#wrapper {
    max-width: 100%;
}

@media screen and (min-width: 660px) {
    /***************
  header
  ***************/
    nav {
        background: none;
        float: right;
        font-size: 1.125em;
        margin-right: 5%;
        text-align: right;
        width: 45%;
    }
    #logo {
        float: left;
        margin-left: 5%;
        text-align: left;
        width: 45%;
    }
    h1 {
        font-size: 2em;
    }
    h2 {
        font-size: 0.8em;
        margin-bottom: 20px;
    }
    header {
        border-bottom: 20px solid #000;
        margin-bottom: 40px;
    }
    nav a {
        color: #000;
    }
}